body {
	font-family: verdana,arial,helvetica,sans-serif;
	color: #white;
	background: #2f3136;
}
b {
  color: white;
}
p {
  color: white;
}
h1 {
	color: white;
}
div#lang_override {
	text-align:right;
	margin: -1em -1em 0 0;
}

div.the_box {
	width: 70%;
	margin: 50px auto auto auto;
	border-width: 1px;
	border-color: #444444;
	border-style: solid;
	background-color: #36393f;
	padding: 2em;
}

div.footer {
	float: right;
	color: white;
	padding: 2em;
}
	
a:link {
	color: #0000CC; text-decoration: none;
	}
a:visited {
	color: #990000;  text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1 {
	padding-top: 0;
	margin-top: 0;
	text-align: center;
}

.notice {
	font-weight: bold;
	padding-bottom: 1.5em;
}
		
.sd_messages {
	font-weight: bold;
	color: red;
	padding-bottom: .9em;
}

.good_password {
    background-color: rgb(150, 255, 165) !important;
}

.bad_password {
    background-color: rgb(255, 150, 165) !important;
}

.small_text {
	font-size: 0.8em;
}