body {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAbUExURXE/MWM3K1lGQn9DNGhWUFwzKE8sI0ooH2xfWkVyVtYAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB2SURBVBjTJczBCcMwDEbhfwQruB1AZACDNyg55BqIeg9YygJu4xE6diVyeLfHB0y1IBeAdiXaD8I5Ljn7x8Dri2cPFcmPNOGgR1ORBn3auPTdEcfCvAK5lpRrOBtR2wjWTWyoIIywkNxwJ7tzX/iajQhxLDz//hJTHdAJLS1XAAAAAElFTkSuQmCC');
}

#header {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA0UlEQVQ4y42SoQ4CMRBE95cw2BMESQKGD8CAwmDBYgjB4HA4JD/Bb5VMk2kme9texeSafb1NZ3btu1sl6LVdpNtxn36HTREZ+ft6GdUNAHqsh3zhvJznM+sR17qhcBpmWZ/nvZzxA6QcDchQhwzPhgDRAF/WlNW4eb94Vsuz8tzAe6Jf1DUTL3LT0OiLvjUTbUSeG/R4rt0Bt2jOmkuUieYy2oNoB2gv4qaeGZr3q5n4UG1qzlN7YvRYm3NrD8oYI8+9mRhn7KV70OLW49nfIYP+d4RKtAhLyaYAAAAASUVORK5CYII=');
}

#sheetContainer {
    background-color: rgba(0,0,0,0.25);
}

#sheetContainer img {
    background: #808080;
}

#headerContainer {
    background-repeat: repeat-x;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABLUExURf/OX/+7Q//ASf+4P//HU//Ua/+uNY9QP/+vNv++Rv+3PnM/Mf+xOP/RZP+lLXxFNotuZ6KGfamUjf+8RP+tNP+5QMZoUbFiTZtWQ389pygAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACVSURBVChTRY5REsIwCES3mBgVFYja5v4ndUk7U36WZOY9FljkggUiBaVeiwB81oZbFdy5PyBan9ClochL32Jwj/5x92/8ejCxrts2thGMTIcNTrOwlmMBa8PMtKvyyzSQnEf02JcOkrFSND0UgYJo6Rk2E+TDEqcnxZh84uRnj3HcP3rw7ORPD5QtZo8j9x7J5xK9/wHlQA8Do828oAAAAABJRU5ErkJggg==');
}
