<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MCCToolChest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MCCToolChest.Properties.Settings>
            <setting name="LastOpenFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LibraryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="ToPCBiomeTranslations" serializeAs="String">
                <value />
            </setting>
            <setting name="ToPCBlockTranslations" serializeAs="String">
                <value />
            </setting>
            <setting name="FromPCBiomeTranslations" serializeAs="String">
                <value />
            </setting>
            <setting name="FromPCBlockTranslations" serializeAs="String">
                <value />
            </setting>
            <setting name="MCPCFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BRDPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastEntitySearch" serializeAs="String">
                <value />
            </setting>
            <setting name="LastEntitySearchRegion" serializeAs="String">
                <value>region</value>
            </setting>
            <setting name="DefaultConsoleType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ArchiveGameFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaviinePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaviineFolder" serializeAs="String">
                <value>inject</value>
            </setting>
            <setting name="HrybridOpacity" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="HeightView" serializeAs="String">
                <value>light</value>
            </setting>
            <setting name="ShowPlayers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowChunkGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRegionGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSearchResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastEntitySearchConditions" serializeAs="String">
                <value />
            </setting>
            <setting name="ConvertFromPCFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ConvertToPCFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UseFileExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertToBedrockFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowTelemetry" serializeAs="String">
                <value>True</value>
            </setting>
        </MCCToolChest.Properties.Settings>
    </userSettings>
</configuration>
